<div class="container mt-4">

	<h2>Admin Dashboard</h2>
    
	<div class="mt-4">
		<a asp-controller="Admin" asp-action="CustomerPolicies"
			   class="btn btn-primary">
			View Customer Policies
		</a>
	</div>
</div>